@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');
:root {
    --clr1: rgb(21, 12, 104);
    --clr2: rgb(236, 68, 90);
    --clr3: #fff;
    --clr4: #000;
    --clr5: lightgray;
    --clr6: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
  
    
}


html {
    background-color: #F8E8EE;;
    font-size: 56%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background-color:#F2BED1;
}

section {
    padding: 7rem 9%;
    margin-top: 7rem;
}

section h3 {
    font-size: 3rem;
    color: var(--clr2);
    text-transform: none;
    text-align: center;
    letter-spacing: .2rem;
}

section p {
    color: var(--clr3);
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    justify-content: flex-start;
}

section h4 {
    margin: 0 0 1rem 30rem;
    width: 40%;
    font-size: 4rem;
    color: var(--clr3);
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    letter-spacing: .2rem;
    background: var(--clr1);
}

.btn {
    margin-top: 2rem;
    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 600;
    color: var(--clr3);
    background-color: var(--clr2);
    border: none;
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    transform: translateY(-1rem);
    transition: all .5s ease;
}

.title {
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    text-decoration: none;
}

.title span {
    color: var(--clr2);
    font-size: 4rem;
}

.title p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--clr4);
}


/*----------------------header section---------------*/

.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
   
    background: linear-gradient(15deg, #384f51 0%, #23041e 100% );
    padding: 1.2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fa-heart {
    color: rgb(226, 68, 68);
}

 .head .logo {
    font-size: 2.5rem;
    color: var(--clr3);
    font-weight: 600;
    letter-spacing: .5rem;
} 

/* .head .img{
    border-radius: 2.5rem;
    font-weight: 600;
} */

span {
    color: var(--clr5);
    font-size: 3.0rem;
}

.head .navbar {
    font-size: 1.8rem;
    justify-content: space-between;
    font-weight: 500;

}

.head .navbar a {
    padding-left: 1.5rem;
    color: var(--clr3);
}

#menu-bar {
    display: none;
    color: var(--clr3);
}


/*----------------------Home-------------*/

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("back-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.search-box {
    margin: 20rem 0 0 0;
    color: var(--clr3);
    text-align: center;
}

.search-box h1 {
    font-size: 5.5rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .2rem;
}

.search-box p {
    font-size: 1.8rem;
    margin: .5rem 0;
}

.search-field {
    width: 25rem;
    height: 4.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--clr2);
}

@media(max-width:767px) {
    .search-box h1 {
        font-size: 4rem;
    }
    .search-field {
        width: 15rem;
    }
}


/*-------------------services--------------*/

 .services-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    }

.services-col {
    height: 22rem;
    color: rgb(236, 68, 90);
    background: url("back-2.png");
    background-color: lightgray;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 1 1 25rem;
    padding: 1.2rem;
    margin: 1.5rem;
}

.services-col i {
    padding: 2.2rem;
    border: none;
    background: aliceblue;
    border-radius: 5rem;
    font-size: 2.8rem;
}

.services-col h2 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000;
}

.services-col p {
    font-size: 1.2rem;
    color: #000;
}

@media (max-width:767px) {
    .service {
        margin-bottom: 30rem;
    }
} 




/*----------------------vendor section------------*/

.vendor-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

.vendor .vendor-row {
    max-width: 1300px;
    background: rgb(245, 236, 245);
    height: 35rem;
    flex: 1 1 30rem;
    padding: 1.2rem;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .2rem .5rem rgb(236, 68, 90);
}

.vendor-row:hover {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(5deg);
}

.vendor-row .rate {
    width: 6rem;
    padding: .5rem .1rem;
    color: #000;
    border: none;
    background: var(--clr6);
    font-size: 1.6rem;
    font-weight: 400;
}

.vendor .vendor-row img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.vendor-row h2 {
    font-size: 2rem;
    font-weight: 600;
}

.vendor-row p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--clr4);
}

.vendor h3 {
    font-size: 2rem;
    color: var(clr2);
    background: var(--clr4);
}


/*----------------------------venue section-----------------*/

.venue .venue-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.venue .venue-list .venue-box {
    flex: 1 1 50rem;
    margin: 5rem;
    position: relative;
    border-radius: .8rem;
    overflow: hidden;
    height: 90rem;
}

.venue .venue-list .venue-box img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.venue .venue-list .venue-box .venue-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    color: #fff;
    background: rgba(46, 39, 40, 0.5);
    transform: scale(1.3);
    opacity: 0;
    transition: 1s ease;
}

.venue .venue-list .venue-box:hover .venue-info {
    transform: scale(1);
    opacity: 1;
}

.venue .venue-list .venue-box .venue-info h2 {
    letter-spacing: .1rem;
    font-size: 3rem;
}

.venue .venue-list .venue-box .venue-info p {
    letter-spacing: .1rem;
    font-size: 2rem;
}

.venue .venue-list .venue-box .venue-info .btn {
    width: 10rem;
    height: 4rem;
    margin: 1rem;
    padding: .6rem;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background-color:#4EE2EC;
    border: none;
    border-radius: .5rem;
}

.invite_check{
    margin-top: -300px;
}
/*--------------------------e-invitation section-----------*/


.invite .invitation-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.invite .invitation-row .invitation-box {
    flex: 1 1 25rem;
    margin: 1rem;
    position: relative;
    border: .2rem dotted var(--clr2);
    padding: 2rem;
    border-radius: .6rem;
    overflow: hidden;
    height: 30rem;
}

.invite .invitation-row .invitation-box:hover {
    transition: .5s ease;
    transform: translateY(-2rem);
}

.invite .invitation-row .invitation-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* team starts  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exo;

}

@font-face {
    font-family: Exo;
    src: url(./fonts/Exo2.0-Medium.otf);
    position: fixed;
}
#team h1{
    font-size: larger;
    text-align: center;
    color: rgb(190, 76, 93);
}

.team {
    margin-top:80px;
}
.main {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,white, #F8E8EE, white);

}

.profile-card {
    position: relative;
    font-family: sans-serif;
    width: 290px;
    height: 260px;
    
    background: linear-gradient(180deg, #f0c7d6, #F2BED1, rgb(229, 149, 216));
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px rgb(228, 218, 218);
    transition: .6s;
    margin: 0 50px;
    cursor: pointer;
}

.profile-card:hover {
    border-radius: 90%;
    height: 300px;
}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}

.profile-card:hover .img {
    transform: translateY(-70px);
}

.img img {
    width: 100%;
    border-radius: 90%;
    box-shadow: 0 0 22px rgba(203, 199, 199, 0.4);
    transition: .6s;
}

.profile-card:hover img {
    border-radius: 50%;
}

.caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;

}

.profile-card:hover .caption {
    opacity: 1;

}

.caption h3 {
    font-size: 21px;
    font-family: sans-serif;
    color: white;
}

.caption h2 {
    font-size: 25px;
    font-family: sans-serif;
    color: whitesmoke;
}

.caption p {
    font-size: 15px;
    color: #ffffff;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
}

 h4 a {
    color: white;
    margin-right: 15px;
    font-size: 18px;
    transition: .6s;
    text-decoration: none;

}

.social-links a:hover {
    color: #871874;
}

/* team ends  */




/* footer  */

footer {
    color: var(--clr2);
    background:linear-gradient(360deg,#8c82a1,#AEC3AE rgb(165, 246, 246));
    font-size: 20px;
    padding: 50px 0;
    margin-top: -100px;
}

footer h4 {
/* color: var(--clr2); */
    margin-bottom: 25px;
    font-size: 20px; ;
}

footer .list-inline-item a {
    color: var(--clr2);
    font-size: 26px;
    margin-right: 10px;

}

footer .btn {
    color: var(--clr2);
    
    font-size: 20px;
    /* margin-bottom: 10pt; */
}
.stay_connected{
    margin-left: 300px;
    float: right;
}